/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4f4f4;
}

.top-line, .bottom-line {
    width: 100%;
    height: 1.5%; /* 12px을 화면 비율에 맞게 변경 */
    background-color: #4d6bff;
    animation: growLine 1s ease-in-out;
}

.split-container {
    display: flex;
    width: 100%;
    flex-grow: 1;
    background: linear-gradient(100deg, #ffffff 50%, #4d6bff 50%);
}

.left-side, .right-side {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 100%;
}

.animated-image {
    max-width: 60%;
    max-height: 40%; /* 60%에서 줄임 */
    margin-bottom: 8%; /* 50px -> 비율로 변경 */
    animation: moveImage 3s ease-in-out infinite;
}

.service-description {
    font-size: 3vw; /* 32px을 화면 비율에 맞게 변경 */
    font-weight: bold;
    color: #000;
    margin-top: 0%; /* 10px -> 비율로 변경 */
}

.additional-info {
    font-size: 1.5vw; /* 24px을 화면 비율에 맞게 변경 */
    font-weight: bold;
    color: #333;
    margin-top: 3%;
    line-height: 1.5;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 3% 5%; /* 20px 30px을 비율로 변경 */
    border-radius: 1%; /* 10px -> 비율 */
    box-shadow: 0 0.4vw 1.25vw rgba(0, 0, 0, 0.1); /* 0 4px 10px */
    max-width: 40vw; /* 480px -> 비율 */
    width: 60%;
    background-color: #ffffff;
    animation: fadeIn 1s ease-in;
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 3%;
}

.form-group {
    margin-bottom: 3%;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 2%;
    color: #555;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 3%); /* 여백 비율 적용 */
    padding: 2%; /* 15px -> 비율 */
    border: 1px solid #ddd;
    border-radius: 1%; /* 5px -> 비율 */
    font-size: 1.2vw; /* 글자 크기 비율 적용 */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #4d6bff;
    box-shadow: 0 0 0.8vw rgba(0, 123, 255, 0.6); /* 8px -> 비율 */
}

.feedback-button {
    width: 60%; /* 버튼의 너비를 부모 요소의 80%로 설정 */
    padding: 2%; /* 버튼의 내부 여백을 부모 요소의 2%로 설정 */
    background-color: #4d6bff; /* 버튼 배경 색상 */
    color: #ffffff; /* 버튼 텍스트 색상 */
    border: none; /* 버튼 테두리 제거 */
    border-radius: 3%; /* 버튼 모서리 둥글게, 비율로 설정 */
    font-size: 1.5vw; /* 버튼 텍스트 크기, 비율로 설정 */
    font-weight: bold; /* 버튼 텍스트 굵게 */
    cursor: pointer; /* 클릭 시 포인터 모양으로 변경 */
    transition: background-color 0.3s ease, transform 0.3s ease; /* 배경색과 변형에 대한 전환 효과 */
    display: flex; /* 버튼 안의 요소들을 수평으로 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    margin: 0 auto; /* 버튼을 가로로 중앙 정렬 */
    gap: 10px;
}

.feedback-button img {
    width: 36px; /* 이미지 크기 조정 */
    height: 36px; /* 이미지 크기 조정 */
}

.feedback-button:hover {
    background-color: #696c7b; /* 마우스 호버 시 배경색 변경 */
    transform: translateY(-0.5%); /* 호버 시 버튼을 위로 이동 */
}

.feedback-button:active {
    transform: translateY(0.2%); /* 클릭 시 버튼을 아래로 이동 */
}

.feedback-button.submitted {
    background-color: #7f7f7f; /* 제출 완료 시 배경색 변경 */
    transform: translateY(0); /* 변형 초기화 */
    transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

/* 로딩 오버레이 스타일 */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 1000;
}

.spinner {
    border: 2vw solid #f3f3f3;
    border-top: 2vw solid #4d6bff;
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    animation: spin 2s linear infinite;
}

.loading-message {
    margin-top: 2%;
    font-size: 3vw;
    font-weight: bold;
    color: #ffffff;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4vh;
}

.icon {
    width: 8vh;  /* Adjust to your preferred size */
    height: 8vh; /* Adjust to your preferred size */
}

.linked-icon {
    width: auto;  /* Very small size */
    height: auto; /* Very small size */
}

.github-icon {
    width: auto;  /* Very small size */
    height: 10vh; /* Very small size */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes moveImage {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

@keyframes growLine {
    from { width: 0; }
    to { width: 100%; }
}
